
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    
}
body{
  
}
.walletModalContainer {
    position: fixed;
    top: 0;
    left: 50%; /* Adjusted to center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(2px);
    z-index: 999; /* Added z-index to ensure the modal appears above other elements */
  }
  
.walletModal {
    display: flex;
    background-color: rgb(0, 0, 0);
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
}
#walletbtn{
  position: absolute;
  margin: 100px;
  margin-top: 50px;
  width: 300px;
  color: #8632E6;
  font-size: 20px;
  cursor: pointer;
  height: 60px;

}
#mainContent{
  position: absolute;
  margin-top: 40px;
  margin-left: 100px;
  font-size: 80px;
  color: #8632E6;
  font-weight: 600;
  width: 600px;
  letter-spacing: -2px;
  transition: 0.09ms ease-in-out;
  animation: textfall 0.8s linear;
  line-height: 85px;
  pointer-events: none;
  user-select: none;
}
#mainContent #spam{
  color: rgb(255, 255, 255);
}
.Footer{
  position: absolute;
  margin-top: 100%;
  font-size: 10px;
  margin-left: 40%;
}

.container {
  position: relative;
}

.iframeContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
}


#mainContent {
  position: relative; 
  z-index: 1; 
}
/* home.css */

.closeIcon {
  position: absolute;
  top: 310px;
  right: 500px;
  font-size: 30px;
  cursor: pointer;
  color: #ff0000;
  font-weight: 600;
}



@keyframes textfall {
  from{
    line-height: 0px;
  }
  to{
    line-height: 5rem;
  }
  
}