.meta-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .choose-your-wallet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 1px;
  }
  .chooseYourWallet h4 {
    margin-right: 10px; /* Add some margin between the icon and the text */
  }
  .options {
    display: flex;
    padding: 40px;
  }
  h4{
    font-size: 30px;
  }
  
  .options img {
    max-width: 30%; /* Adjust the percentage based on your preference */
    max-height: 20vh; /* Adjust the percentage based on your preference */
    margin-right: 50px;
    object-fit: contain; /* This ensures the image keeps its aspect ratio */
  }
#cross{
    position: absolute;
    margin-left: 520px;
    margin-top: -15px;
    font-size: 15px;
    cursor: pointer;
}